body {
  font-family:sans-serif;
  font-size:16px;
}

h3 {
  background-color:#8B2228;
  border-top:thin solid #D5E6EE;
  margin-top:0px;
  margin-bottom:0px;
}

div.detail {
  background-color:#D5E6EE;
  color:blue;
  height:80px;
}

#sidebar {
  float: left;
  width: 350px;
  height: 100%;
  margin-left: -350px;
  background-color: #2B4922;
  position: relative;
}

#content {
  padding-left: 350px;
}

#map {
  width: 100%;
  height: 100%;
  float: right;
}

#header {
  background-color: #C76B3A;
  color: #fff;
  padding: 3px;
  height: 50px;
}

#header h1 {
  font-family:"Lobster";
  margin-left: 3ex;
}
