body {
  font-family:Times New Roman;
  font-size:16px;
}
h2 {
  font-family:Times New Roman;
}
h3 {
  background-color:#8B2228;
  font-family:Times New Roman;
  border-top:thin solid #D5E6EE;
  margin-top:0px;
  margin-bottom:0px;
}
div.detail {
  background-color:#D5E6EE;
  color:blue;
  height:80px;
}

#sidebar {
  float: left;
  width: 350px;
  height: 100%;
  margin-left: -350px;
}

body {
  padding-left: 350px;
}

#map {
  width: 100%;
  height: 100%;
  float: right;
}
